<div class="navbar-dark">
    <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h1>About us</h1>
<p>We are a group of programmers who have generated a project that workes the same as git hurb where you can search someone and you
    can be able to find someone using their user name and you could be able to find their projects repositories and the codes they have been working on.
</p>
<p>You can find us using the following means:</p>
<ul>
<li>Contact: <u>+254702901315</u></li>
<li>Email: <u>Shawn9717@prontmail.com</u></li>
</ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>