@import "~bootstrap/dist/css/bootstrap.css";
body{
 background-image: url(./images/git.jpeg);
 background-position: center center;
 background-size: cover;
 background-attachment: fixed;
 opacity: 0.9;
}